.wm-icon {
    --wm-icon-color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--wm-icon-color);
    font-size: inherit;
}

@each $val in primary,info,success,warning,danger {
  .wm-icon--$(val) {
    --wm-icon-color: var(--wm-color-$(val)); 
  }
}
