:root {
  --vp-c-brand-1: var(--wm-color-primary);
  --vp-c-brand-2: var(--wm-color-primary-light-3);
  --vp-c-brand-3: var(--wm-color-primary-light-5);
  --vp-c-brand-soft: var(--wm-color-primary-dark-2);

}

body {
  color: var(--vp-c-text-1);
}
h1, h2, h3, h4, h5, h6, p {
  color: var(--vp-c-text-1);
}
